#hero-case-study-container .row .text-right {
  text-align: right;
}

#hero-case-study-container img {
  width: min(400px, 100%);
}

#hero-case-study-container h1 {
  font-weight: 700;
  font-size: clamp(3rem, 4vw, 3.6rem);
  color: #2f2f2f;
  margin: 3rem 0;
}

#hero-case-study-container a {
  background: #ff4040;
  border-radius: 10px;
  width: max-content;
  display: block;
  padding: 1rem 3rem;
  color: #f8f8fa;
  margin-bottom: 3rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
/* $breakpoints: (
  xsphone: 0px,
  phone: 576px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1200px,
  xldesktop: 1400px,
); */

:root {
  --orange: #fc5253;
  --font: rgb(92, 92, 92);
  --transition: 0.6s;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.5rem !important;
  font-family: sans-serif;
  color: var(--font) !important;
  overflow-x: hidden;
  font-weight: 400 !important;
}

body a {
  text-decoration: none;
  color: var(--font);
}

body a:hover {
  color: var(--orange);
}

body img {
  width: 100%;
}
body ul {
  padding: 0;
  list-style: none;
}

.heading {
  color: var(--orange);
}

.topic {
  text-transform: capitalize;
}

.default_button button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: var(--orange);
  color: white;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.default_button button:hover {
  background-color: white;
  outline: 0.1rem solid var(--orange);
  color: var(--orange);
}

.content-pad {
  padding: 10rem 0rem;

  @media screen and (max-width: 768px) {
    padding: 7rem 0rem;

    @media screen and (max-width: 576px) {
      padding: 5rem 0rem;
    }
  }
}

#video_banner_container {
  min-height: 67.2rem;
  background-color: black;
  background-size: cover;
  background-image: linear-gradient(
      hsla(0, 0%, 0%, 0.543),
      hsla(0, 0%, 0%, 0.543)
    ),
    url("/images/videoBanner.webp");
}

#video_banner_heading h1 {
  font-size: clamp(3rem, 2.5vw, 4rem);
  font-weight: 700;
  color: white;
}

#video_search_bar {
  border: 0.2rem solid silver;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  outline: none;
}

@media screen and (max-width: 990px) {
  #video_search_bar {
    width: 100%;
    order: -1;
  }
}

#video_search_bar input {
  border: none;
  width: 100%;
}

.option select,
#all_category select {
  border: none;
  border: 0.2rem solid silver;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  outline: none;
}

/* #video_option select option {
  background: none;
  padding: 1rem 2rem;
}

#all_category select option {
  background: none;
  padding: 1rem, 2rem;
} */

#video_grid_card #video_tag span {
  background-color: var(--orange);
  display: inline-flex;
  padding: 0.1rem 2rem;
  border-radius: 2rem;
  color: white;
}

#video_grid_card {
  max-width: 35rem;
  min-height: 44.1rem;
  padding: 2rem;
  border-radius: 2rem;
  transition: 0.4s;
}

#video_play_button {
  border: none;
  background: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

#video_grid_bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  place-items: center;
}

@media screen and (max-width: 990px) {
  #video_grid_bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    place-items: center;
  }

  @media screen and (max-width: 576px) {
    #video_grid_bottom {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 4rem;
      place-items: center;
    }
  }
}

#video_grid_card #video_grid_image {
  border-radius: 2rem;
  overflow: hidden;
  max-width: 32rem;
}

#video_grid_card:hover #video_play_button {
  background: white;
}

#video_grid_top > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
  place-items: center;
  gap: 5rem;
  grid-template-areas: "video-one video-two video-three";
}

#video_grid_top > ul li {
  width: min(400px, 100%);
}

@media screen and (max-width: 990px) {
  #video_grid_top > ul {
    display: grid;
    place-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "video-one video-two" "video-three video-three";
  }

  @media screen and (max-width: 576px) {
    #video_grid_top > ul {
      display: grid;
      place-items: center;
      gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "video-one" " video-two" "video-three";
    }
  }
}

#video_grid_top ul :nth-child(1) {
  grid-area: video-one;
}
#video_grid_top ul :nth-child(2) {
  grid-area: video-two;
}
#video_grid_top ul :nth-child(3) {
  grid-area: video-three;
}

.case-card > p {
  color: #474f62;
}

.row:nth-of-type(2) {
  gap: 100px;
}

.case-card > p.card-heading {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  font-weight: 700;
}

.row .case-card > a {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
}

.img-wrapper img {
  border-radius: 0px 50px 0px 0px;
}

.row:nth-of-type(3) a {
  background: #ff4040;
  border: 1px solid #fc5253;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  margin: 30px;
  display: inline-block;
}

.row:nth-of-type(3) a:hover {
  background-color: white;
  color: var(--orange);
  outline: 0.2rem solid var(--orange);
}

.btn-read-more i {
  transition: 0.5s;
}

.btn-read-more:hover {
  transform: scale(1.2);
}

.btn-read-more:hover i {
  margin-left: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}
