@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-dark: #153d5e;
  --font-zuqo: #888888;
  --font: #5b6d86;
  --default-color: #ff4040;
  --reddark: #dd1e1e;
}

@font-face {
  font-family: "MydriadBold";
  src: url("/font/Myriad\ Pro\ Black.otf");
}
@font-face {
  font-family: "Mydriad";
  src: url("/myriadregular.ttf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  background-color: white;
  box-shadow: -1px 4px 9px -1px rgba(140, 140, 140, 1);
}
html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-smooth: smooth;
  overflow-x: hidden;
}

body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a {
  text-decoration: none;
  color: var(--font);
}
body a:hover {
  color: black;
}

.default_button > button {
  border: none;
  outline: none;
  background: none;
  background-color: var(--default-color);
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

/* --------------------------------- Navbar --------------------------------- */

.nav_dropdown_left > li > a > span {
  font-weight: bold !important;
}
.navbar_container {
  background-color: white;
}
.navbar_logo img {
  max-width: 15rem;
}

.navbar_menu {
  text-transform: capitalize;
  font-weight: 500;
}

.navbar_menu > li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  font-weight: 500 !important;
  font-size: 1.3rem !important;
}

.menu:hover > :nth-child(1) {
  color: white;
  padding-block: 2rem;
}

.navbar_menu > li:hover {
  background-color: var(--default-color);
}

.navbar_signup > button {
  background: none;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.3rem;
}

.navbar_signup > :nth-child(1) {
  color: var(--font);
}

.navbar_signup > :nth-child(2) {
  background: var(--default-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}

.navbar_signup > :nth-child(2):hover {
  color: var(--default-color);
  background-color: white;
  outline: 0.1rem solid var(--default-color);
}

.pad {
  padding-block: clamp(3rem, 7vw, 10rem);
}
.menu {
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .menu {
    display: none;
  }
}

.menu > .nav_dropdown_container {
  border-top: 0.4rem solid var(--default-color);
  position: absolute;
  left: auto;
  padding: 0rem;
  width: max-content;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  top: 6rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 900;
}

.menu:hover .nav_dropdown_container {
  visibility: visible;
  opacity: 1;
}

.nav_dropdown_left > :nth-child(1) {
  color: var(--default-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav_dropdown_left {
  padding: 0rem;
}

.nav_dropdown_left > li {
  padding: 1rem;
  width: 100%;
  border-left: 0.5rem solid transparent;
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.nav_dropdown_left > li > a {
  font-family: sans-serif !important;
}

.nav_dropdown_left > li > img {
  width: 2rem;
}

.nav_dropdown_left > li:not(:nth-child(1)):hover {
  border-left: 0.5rem solid var(--default-color);
  background-color: rgb(243, 242, 242);
}

.nav_hamburger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_ham,
.nav_cross,
#ham {
  display: none;
}
.nav_ham,
.nav_cross > i {
  font-size: 4rem;
  color: black;
}
.nav_hamburger > input:checked ~ .nav_cross {
  display: block;
}

.nav_hamburger > input:not(:checked) ~ .nav_ham {
  display: block;
}

.mobile_navbar_container {
  position: fixed;
  width: 100vw;
  min-height: 0rem;
  top: 6rem;
  left: 0;
  background-color: white;
  z-index: 900;
}

.nav_hamburger > input:checked ~ .mobile_navbar_container {
  display: block;
}

.nav_hamburger > input:not(:checked) ~ .mobile_navbar_container {
  display: none;
}

/* ------------------------------ mobilenavbar ------------------------------ */

.accordion-button {
  font-size: 1.6rem !important;
}

.navbar_accordion .accordion-button:focus {
  color: var(--default-color);
}

.navbar_accordion .accordion-button:not(.collapsed) {
  color: var(--default-color) !important;
  background-color: #ff40405e !important;
}

.navbar_accordion .accordion-body {
  padding: 0rem !important;
  border-color: white !important;
}

.navbar_accordion .accordion-item {
  border: none !important;
}

/* --------------------------------- footer --------------------------------- */

@keyframes tofro {
  0% {
    transform: translateX(1rem);
  }

  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(1rem);
  }
}

.fa-arrow-right {
  animation-name: tofro;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* --------------------------------- footer --------------------------------- */

#footer_container {
  background-color: #161c28;
  color: var(--font-zuqo);
  font-family: "Inter";
}

#footer_bottom_right > .list > ul > :nth-child(1) strong {
  font-size: 1.6rem;
}

#footer_left ul {
  max-width: 46.6rem;
}

#footer_left :nth-child(3) > img {
  max-width: 4.5rem;
}

#footer_left ul li {
  margin-top: 3rem;
}

#footer_left #person {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  overflow: hidden;
}

#footer_left ul :nth-last-child(1) {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

#footer_left ul :nth-last-child(1) > :nth-child(3) {
  background-color: white;
}

#footer_left #person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footer_left li > p {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
}

#footer_left ul > :nth-child(1) h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  color: white;
}

/* footer right */

#footer_right {
  display: flex;
}

#footer_form_container {
  background-color: #222938;
  width: min(100%, 61.2rem);
  border-radius: 2rem;
  padding: 5rem;
  height: 55.8rem;
}

#footer_form_container ul {
  width: 100%;
}

#footer_form_container ul li input {
  width: 85%;
  padding: 1rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
  outline: none;
  background: none;
  border-bottom: 0.2rem solid white;
  color: white;
  text-indent: 0rem !important;
}

#footer_form_container ul li input:focus {
  border-color: #ff4040;
}

#footer_form_container ul li input::placeholder {
  color: silver;
}

#footer_form_container ul label {
  color: white;
}

.footer_submit > button {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.footer_email,
.footer_message {
  margin-top: 4rem !important;
}

#footer_form_container ul > :nth-child(n + 3) {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

#footer_form_container ul li {
  margin-top: 2rem;
}

#footer_form_container ul > :nth-child(1) img {
  width: 25rem;
}

#footer_form_container ul > :nth-child(2) h1 {
  font-size: clamp(2.5rem, 4vw, 3.6rem);
}

#footer_bottom_left ul > :nth-child(2) p {
  font-size: clamp(1.6rem, 3vw, 1.8rem);
}

#footer_bottom_left ul > :nth-child(1) img {
  width: 25rem;
}

#footer_bottom_left ul > :nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.2rem solid silver;
  max-width: 41rem;
  height: 6rem;
  border-radius: 4rem;
  position: relative;
  overflow: hidden;
}

#footer_bottom_left ul > :nth-child(3) input {
  color: white;
  text-indent: 3rem;
}

#footer_bottom_left ul > :nth-child(3) span {
  display: inline-flex;
  width: 5rem;
  height: 5rem;
  background-color: var(--default-color);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  right: 0;
  border-radius: 100%;
  animation-name: animate;
  animation-duration: 1s;
  transition: 0.6s;
}

@keyframes animate {
  0% {
    left: 0;
  }

  100% {
    left: 90%;
  }
}

#footer_bottom_left ul li {
  margin-top: 2rem;
}

#footer_bottom_left ul > :nth-child(3) input {
  padding: 0.5rem;
  background: none;
  border: none;
  outline: none;
}

#footer_bottom_right li {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: var(--font-zuqo);
}

#footer_bottom_right ul > :nth-child(n + 2) a {
  color: var(--font-zuqo) !important;
}

#footer_bottom_right ul > :nth-child(n + 2) a:hover {
  color: var(--orange) !important;
}

#footer_bottom_right .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

@media screen and (max-width: 576px) {
  #footer_bottom_right .list {
    grid-template-columns: repeat(1, 1fr);
    place-items: start;
  }
}

#email_arrow > i {
  animation: none !important;
}

#terms {
  padding-block-start: 2rem !important;

  padding-block-end: 6rem !important;
}

.pricing_outer_container {
  min-height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
}
.pricing_content li {
  margin-top: 2rem;
}
.pricing_content > :nth-child(1) h1 {
  font-size: clamp(3rem, 4vw, 6rem);
  font-weight: 900;
  color: #ff4040;
}

.pricing_content > :nth-child(2) p {
  font-size: clamp(2rem, 4vw, 3rem);
  color: #d61414;
}

.pricing_content > :nth-child(3) p {
  color: #707070;
  font-size: clamp(1.6rem, 4vw, 2.4rem);
}

.pricing_outer_container {
  position: relative;
}

.price_right,
.price_left,
.down_arrow {
  position: absolute;
}

.price_right {
  left: 0;
  top: 0;
  z-index: -1;
}
.price_left {
  right: 0;
  bottom: 0;
  z-index: -1;
}

.down_arrow {
  left: calc(100vw - 50%);
  bottom: -3rem;
}

/* ---------------------------------- brand --------------------------------- */

.brand_container {
  min-height: 25vh;
  background-color: #ff4040;
}

.customers {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.customers .image {
  display: flex;
  height: 60px;
  padding: 0 26px;
  max-width: 287px;
  margin-bottom: 30px;
}

.customers .image img {
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
}

/* ---------------------------------- prod ---------------------------------- */

.section-prod {
  padding: 100px 30px;
  position: relative;
  background-color: #f9f9f9;
}
.section-prod .prod-content {
  margin-left: 20px;
  position: relative;
  max-width: 375px;
}
.section-prod .prod-content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #153d5e;
  mix-blend-mode: normal;
  padding-left: 30px;
  margin-bottom: 10px;
}
.section-prod .prod-content h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  mix-blend-mode: normal;
  padding-left: 30px;
}
.section-prod .cs-prod-content {
  border-left: 5px solid #48b2eb;
}
.section-prod .px-prod-content {
  border-left: 5px solid #fcc642;
}
.section-prod .insided-prod-content {
  border-left: 5px solid #ec246d;
}

.cs-fill li svg {
  fill: #48b2eb;
  width: 22px;
  margin-right: 10px;
  margin-bottom: -4px;
}
.px-fill li svg {
  fill: #fcc642;
  width: 22px;
  margin-right: 10px;
  margin-bottom: -4px;
}
.insided-fill li svg {
  fill: #ec246d;
  width: 22px;
  margin-right: 10px;
  margin-bottom: -4px;
}

.section-prod .prod-tile {
  background-color: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 25px;
}
.section-prod .prod-tile .prod-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}
.border-rt {
  border-right: 5px solid #f9f9f9;
}
.pa-35 {
  padding: 35px 23px;
}
.cs {
  color: #48b2eb;
}
.cs span {
  background-color: #48b2eb;
  color: #fff;
  padding: 4px;
}
.px {
  color: #fcc642;
}
.px span {
  background-color: #fcc642;
  color: #fff;
  padding: 4px;
}
.insided {
  color: #ec246d;
}
.insided span {
  color: #fff;
  padding: 4px;
}
.insided span img {
  width: 40px;
}
.prod-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.prod-list ul li {
  display: inline-block;
  width: 48%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  color: #153d5e;
  padding-bottom: 22px;
}
.prod-list ul li img {
  padding-right: 10px;
  vertical-align: text-top;
}

.cta-banner-button .btn-primary {
  filter: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  padding: 14px 25px;
  display: inline-flex;
  background-color: #ff4040;
  border: none;
  margin-top: 45px;
  text-transform: none;
}

.cta-banner-button .btn-primary:hover {
  background-color: white;
  outline: 0.3rem solid #ff4040;
  color: #ff4040;
}

.btn2 {
  margin-left: 12px;
  background-color: #ffffff !important;
  outline: 3px solid #ff4040 !important;
  color: #ff4040 !important;
  padding: 11px 25px !important;
}
.btn2 svg {
  width: 30px;
  padding-left: 12px;
  fill: #ff4040;
}

.btn2:hover {
  background: #ff4040 !important;
  outline: 0.3rem solid #ff4040;
  color: white !important;
}
.btn2:hover svg {
  fill: white !important;
}

.section-text {
  background-color: #ff4040;
  padding: 68px 30px;
  position: relative;
}
.section-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  color: white;
  max-width: 560px;
  margin: 0 auto;
}
.section-text .arrow-bw {
  position: absolute;
  left: 50%;
  margin: 0 auto;
  bottom: -39px;
  z-index: 10;
}

/* ------------------------------- testimonial ------------------------------ */

.testimonials {
  background: #161c28;
  padding: 130px 30px 60px;
}
.testimonials .container {
  max-width: 980px;
  position: relative;
}
.testimonials .quote {
  position: absolute;
  left: 0;
  top: 0;
}
.testimonials .quote-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
}
.testimonials .quote-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.testimonials .quote-text .author,
.testimonials .quote-text .author span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-top: 25px;
}
.testimonials .quote-text .author span {
  font-size: 20px !important;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 100% !important;
  height: auto !important;
  text-indent: 0 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}
.carousel-indicators img {
  opacity: 0.3;
  cursor: pointer;
}
.carousel-indicators .active img {
  opacity: 1;
  cursor: pointer;
  padding: 20px 0;
}

.carousel-indicators {
  position: relative !important;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  padding-top: 100px;
  text-align: center;
  align-items: baseline;
  margin-right: auto !important;
  margin-left: auto !important;
}
@media only screen and (max-width: 991px) {
  #section-header .rightsvg {
    display: none;
  }
  #section_logo_list {
    top: 0;
    position: relative;
    margin-top: -25px;
  }
  #section_logo_list .d-flex {
    display: flex;
  }
  .border-rt {
    border: none;
  }
  .border-tp {
    border-top: 6px solid #f9f9f9;
  }
  .testimonials .quote-text {
    padding-left: 40px;
  }
}
@media only screen and (min-width: 1360px) {
  #section_logo_list {
    top: 550px;
  }
}
@media only screen and (max-width: 767px) {
  #section_logo_list {
    padding: 1.25em;
    box-sizing: border-box;
  }

  #section_logo_list .d-flex {
    display: block;
  }

  #section_logo_list .d-flex .col-md-2 {
    margin-bottom: 30px;
  }
  .prod-list ul li {
    display: block;
    width: 100%;
  }
  .testimonials .quote-text {
    padding-top: 60px !important;
    padding-left: 0px;
  }
  .carousel-indicators {
    display: block !important;
  }
  .carousel-indicators img {
    padding: 20px 0 !important;
  }
  .testimonials .quote-text p,
  .testimonials .quote-text .author,
  .testimonials .quote-text .author span {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  #section-header h4,
  #section-header p {
    font-size: 20px;
  }
  .section-prod .prod-content h2 {
    font-size: 34px;
  }
  #section-header h1 {
    font-size: 50px;
    line-height: 1;
  }
  .section-prod .prod-tile .prod-title {
    font-size: 15px;
  }
  .section-prod .prod-content p {
    font-size: 21px;
  }
  .prod-list ul li,
  .testimonials .quote-text .author span {
    font-size: 17px;
  }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* --------------------------------- Product -------------------------------- */
/* .product_outer_container {
  display: flex;
  align-items: center;
}

.product_left > li {
  margin-top: 2rem;
}
.product_left > :nth-child(1) span {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  background-color: #29a5e8;
  color: white;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.product_left > :nth-child(1) {
  font-size: 2.2rem;
  font-weight: 600;
  color: #29a5e8;
}

.product_left > :nth-child(2) p {
  font-size: clamp(3rem, 4vw, 6rem);
  line-height: 64px;
  color: var(--font-dark);
}

.product_left > :nth-child(2) > p span {
  font-weight: 600;
  font-size: clamp(3rem, 4vw, 6rem);
  color: var(--font-dark);
}

.product_left > :nth-child(3) {
  display: flex;
  gap: clamp(1rem, 4vw, 4rem);
  font-size: 1.2rem;
}

.product_left > :nth-child(3) > :nth-child(1) {
  background-color: #29a5e8;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: white;
}
.product_left > :nth-child(3) > :nth-child(2) {
  background-color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #29a5e8;
  border: 0.1rem solid #29a5e8;
}

@media screen and (min-width: 990px) {
  .product_outer_container {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/images/product_banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .product_left > :nth-child(3) {
    display: flex;
    gap: clamp(1rem, 4vw, 4rem);
    font-size: 1.8rem;
  }
} */

/* -------------------------------- logobadge ------------------------------- */

.customers_container {
  background: #153d5e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 25vh;
}

/* -------------------------------- customers ------------------------------- */
.scale_outer_container {
  position: relative;
}

@media screen and (min-width: 990px) {
  .scale_outer_container::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-image: url("/images/scale.png");
    background-position: right;
  }
}

.scale_left > li {
  margin-top: 1rem;
}

.scale_left > :nth-child(2) p {
  line-height: 3rem;
}
.scale_left > :nth-child(1) h1 {
  font-size: clamp(2.1rem, 4vw, 4.2rem);
  font-weight: 700;
}

.scale_left > :nth-child(1) h1 span {
  font-weight: 300;
}

.scale_left > :nth-child(3) a {
  font-size: 1.6rem;
  font-weight: 600;
  color: #52bcf5;
}

#product-page-rebrand #section-alternate1 {
  display: block;
  order: 2;
}

#product-page-rebrand #section-alternate2 {
  display: block;
  order: 12;
}

#product-page-rebrand #section-tlir-3 {
  display: block;
  order: 9;
}

#product-page-rebrand #section-features-grid {
  display: block;
  order: 6;
}

#product-page-rebrand #section-features-grid-2 {
  display: none;
}

#product-page-rebrand #section-features-grid-3-2 {
  display: block;
  order: 10;
}

/******************************************************************************************* */
#product-page-rebrand #section-features-grid-3-2_2 {
  display: block;
  order: 15;
}

/******************************************************************************************* */

#product-page-rebrand #section_cta_banner_2 {
  display: none;
}

#product-page-rebrand #section-features-grid-3-1 {
  display: none;
  order: 16;
}

/******************************************************************************************* */
#product-page-rebrand #section_cta_banner_3 {
  display: block;
  order: 14;
}

.price_right {
  width: max-content;
  position: absolute;
  right: 0;
  z-index: -1 !important;
  bottom: 0;
}

.price_left {
  width: max-content;
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: 0;
}

@media screen and (max-width: 799px) {
  .price_right {
    display: none;
  }

  .price_left {
    display: none;
  }
}

.down_arrow {
  width: max-content;
  color: #ff6161;
  animation-name: updown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes updown {
  0% {
    transform: translateY(2rem);
  }

  50% {
    transform: translateY(0rem);
  }

  100% {
    transform: translateY(2rem);
  }
}

/* ------------------------------- about_page ------------------------------- */

.about_banner_container {
  min-height: 80vh;
  background-image: url("/images/company_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about_banner_left_content > li h1 {
  font-size: clamp(4.6rem, 4vw, 3rem);
  color: white;
  font-weight: 500;
}

/* .about_banner_buttons {
  display: flex;
  justify-content: center;

  gap: 3rem;
  margin-top: 2rem;
} */

.about_banner_buttons > :nth-child(1) {
  background: none;
  border: none;
  background-color: #ff4040;
  padding: 1rem 2rem;

  color: white;
  font-weight: 400;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.about_banner_buttons > :nth-child(2) {
  background: none;
  border: none;
  background-color: white;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  color: #ff4040;
  text-transform: uppercase;
}

.about_banner_buttons > :nth-child(1):hover {
  background-color: transparent;
  outline: 0.2rem solid #ff4040;
  color: #ff4040;
}

.redirect_button_container {
  background-color: #ff4040;
}

.redirect_blog_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.redirect_blog_button > a {
  padding: clamp(0.2rem, 4vw, 2rem);
  width: 100%;
  text-align: center;
  font-weight: 500;
  transition: 0.6s;
  font-size: clamp(1rem, 4vw, 1.2rem);
  color: white;
}
.redirect_blog_button a:hover {
  background-color: #ffffff;
  color: #ff4040;
}

.readmore_button > button {
  background: none;
  font-weight: 600;
  background-color: #ff4040;
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: clamp(1rem, 3vw, 1.3rem);
  border-radius: 0.5rem;
}

.readmore_button > button:hover {
  outline: 0.3rem solid #ff4040;
  background-color: transparent;
  color: #ff4040;
}

/* ------------------------------ .grad_content ----------------------------- */
.grad_container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url(/images/bg_about-us.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.grad_container::before {
  position: absolute;
  content: "";
  width: 100vw;
  left: 0;
  bottom: 0;
  min-height: 100vh;
  z-index: -2;
  background-color: #ff4040;
}

.grad_content > li {
  margin-top: 2rem;
}

/* -------------------------------- gaincard -------------------------------- */

.gain_card_containers {
  background-color: #ff4040;
  min-height: 100vh;
}

.gain_card_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .gain_card_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.gain_card {
  background-color: white;
  padding: 1rem 2rem;
  max-width: 45rem;
}

.gain_card > :nth-child(1) > img {
  width: 5rem;
}

.gain_content ul > :nth-child(1) h3 {
  font-weight: bold;
  color: #ff4040;
}

.gain_card ul > li {
  margin-top: 2rem;
}

.about_value_container {
  position: relative;
  min-height: 100vh;
}

.about_value_container::after {
  width: 100vw;
  content: "";
  position: absolute;
  height: 100vh;
  background-color: #ff4040;
  left: 0;
  top: 0;
  z-index: -1;
  clip-path: polygon(100% 0, 0 45%, 0 0);
}

.value_heading > h1 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-weight: 800;
  padding-inline-start: 2rem;
  color: #ff4040;
}

.value_container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 40rem;
  padding: clamp(1rem, 4vw, 2rem);
}

.value_second_content > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

@media screen and (max-width: 990px) {
  .value_second_content > ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

.value_left {
  padding-inline-start: 2rem;
}

.zuqo_banner_container {
  min-height: 90vh;
}
.image_banner {
  display: flex;
  width: 100%;
  position: relative;
}

.image_banner > img {
  width: 50rem;
  position: absolute;
}

/* carrer */

.about_carrer_team_content > ul li > h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  color: white;
}

.about_carrer_team_content > ul li {
  margin-top: 2rem;
}

.about_carrer_team_content > :nth-child(2) > li a {
  background-color: white;
  padding: 1rem 2rem;
  font-weight: bold;
  color: #ff4040;
}

.about_carrer_team_content > :nth-child(2) > li a:hover {
  background-color: transparent;
  color: white;
  outline: 0.2rem solid white;
}

.counters > ul > :nth-child(2) .counter {
  width: 15rem;
  height: 15rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.616);
  position: relative;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counters > ul .counter1::after {
  position: absolute;
  content: attr(data-friend);
  width: 95%;
  height: 95%;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: clamp(2rem, 4vw, 3rem);
  color: black;
  background-color: white;
  color: #ff4040;
}

.counters > ul .counter2::after {
  position: absolute;
  content: attr(data-ceo);
  width: 95%;
  height: 95%;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: clamp(2rem, 4vw, 3rem);
  color: #ff4040;
  background-color: white;
}

.counters {
  gap: 5rem;
}

.counter_bottom > li p {
  font-size: clamp(1.6rem, 4vw, 2rem);
}

.counter_bottom {
  padding: 2rem;
  box-shadow: 0px -9px 9px -2px rgba(201, 18, 18, 1);
}

/* --------------------------------- leader --------------------------------- */

.leader_ship_left > li {
  margin-top: 1rem;
}

.leader_ship_left > li h1 {
  font-weight: bold;
}
.leader_ship_left > :nth-child(2) {
  font-size: 2rem;
  color: #27518c;
  font-weight: 500;
}

.leader_card {
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.leader_card > :nth-child(2) .card_content {
  padding: 1rem;
}
.leader_card {
  transition: 0.4s;
}
.leader_card:hover {
  transform: scale(1.05);
}

.card_content > .social_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  color: silver;
}

.card_content > :nth-child(1) h1 {
  font-weight: 500;
  text-transform: capitalize;
}

.card_content > :nth-child(2) p {
  text-transform: capitalize;
}

.card_content > .social_icons > i:hover {
  color: #ff4040;
}

.card_image > img {
  height: 25rem;
  object-fit: cover;
  object-position: top;
}

.leader_ship_right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  place-items: center;
}

@media screen and (max-width: 1200px) {
  .leader_ship_right {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 990px) {
    .leader_ship_right {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 576px) {
      .leader_ship_right {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

#partner_container #partner-left ul > :nth-child(2) h2 {
  font-size: clamp(2rem, 3vw, 4rem);
}

#partner_container #partner-left ul li {
  margin-top: 1rem;
}

#partner_container #partner-left ul > :nth-child(3) h2 {
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  margin-top: 2rem;
}

#partner_container #partner-right {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 139px);
  gap: 1rem;
  grid-template-areas: "one  one  two  two  three   four" "five  six  six  seven  seven  eight ";
}

@media screen and (max-width: 990px) {
  #partner_container #partner-right {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: "one  two three " "four five  six" " seven  eight eight ";
  }
}

@media screen and (max-width: 576px) {
  #partner_container #partner-right {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "one" "two" "three" "four" " five " " six" " seven" "  eight ";
  }
}

#partner_container #partner-right .partner_card {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  height: 200px;
}

#partner_container #partner-right .partner_card > :nth-child(2) {
  left: 1rem;
  bottom: -2rem;
  position: absolute;
  object-fit: contain;
  width: 12.1rem;
}

#partner_container #partner-right .partner_card img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#partner_container #partner-right > :nth-child(1) {
  grid-area: one;
}

#partner_container #partner-right > :nth-child(2) {
  grid-area: two;
}

#partner_container #partner-right > :nth-child(3) {
  grid-area: three;
}

#partner_container #partner-right > :nth-child(4) {
  grid-area: four;
}

#partner_container #partner-right > :nth-child(5) {
  grid-area: five;
}

#partner_container #partner-right > :nth-child(6) {
  grid-area: six;
}

#partner_container #partner-right > :nth-child(7) {
  grid-area: seven;
}

#partner_container #partner-right > :nth-child(8) {
  grid-area: eight;
}

/* --------------------------------- Banner --------------------------------- */

.outer_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.inner_container .inner_left {
  position: relative;
}
.inner_container .inner_left > li {
  margin-top: 1rem;
}
.inner_container .inner_left > :nth-child(1) p {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: black !important;
}

.inner_container .inner_left > :nth-child(2) h1 {
  font-size: clamp(2.5rem, 4vw, 5rem);
  font-weight: 800;
  color: #ff4040 !important;
}

.inner_container .inner_left > :nth-child(3) p {
  color: black !important;
  font-weight: 500 !important;
}

@media screen and (max-width: 1300px) {
  .inner_container .inner_left > :nth-child(3) p {
    max-width: 50rem;
  }
}
.inner_container .inner_left > :nth-child(4) button {
  background: none;
  border: none;
  outline: none;
  background-color: #ff4040;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: 0.2rem solid;
  transition: 0.6s;
  font-size: clamp(1.2rem, 4vw, 1.4rem);
}

.inner_container .inner_left > :nth-child(4) button:hover {
  background-color: white;
  color: #ff4040;
  border-color: #ff4040;
}

.outer_container > img {
  position: absolute;
  bottom: -14rem;
  max-width: 70rem;

  z-index: unset;
}

@media screen and (max-width: 1400px) {
  .outer_container > img {
    position: absolute;
    bottom: -10rem;
    width: 60rem;
  }

  @media screen and (max-width: 1250px) {
    .outer_container > img {
      position: absolute;
      bottom: -10rem;
      width: 50rem;
    }

    @media screen and (max-width: 1200px) {
      .outer_container > img {
        display: none;
      }
    }
  }
}
.outer_container > .red_rectangle {
  display: none;
}
@media screen and (min-width: 1200px) {
  .outer_container > .red_rectangle {
    width: 15rem;
    right: 40rem;
    top: 0;
    position: absolute;
    display: block;
  }
}

.about_outer_container {
  background-image: url("/newbannerimage/aboutus.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about_left > :nth-child(1) p {
  font-size: clamp(3rem, 6vw, 8rem);
  font-weight: 500;
}

.about_left > :nth-child(2) h1 {
  font-size: clamp(3rem, 6vw, 8rem);
  color: white;
  font-weight: 800;
}

.about_left > :nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .about_left > :nth-child(3) {
    flex-direction: column;
    gap: 1rem;
  }
  .about_left {
    text-align: center;
  }
}

.about_left > li {
  margin-top: 2rem;
}

.about_left > :nth-child(3) button {
  background: none;
  border: none;
  outline: none;
  background-color: #ff4040;
  color: white;
  font-weight: 500;
  font-size: clamp(1rem, 4vw, 1.8rem);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: 0.2rem solid transparent;
  transition: 0.6s;
}

.about_left > :nth-child(3) button:hover {
  background-color: white;
  color: #ff4040;
  border-color: #ff4040;
}

.ai_outer_container > img,
.analytic_outer_container > img,
.collab_outer_container > img,
.comm_outer_container > img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .ai_outer_container > img,
  .analytic_outer_container > img,
  .collab_outer_container > img,
  .comm_outer_container > img {
    width: 25rem;
    position: absolute;
    display: block;
    object-fit: contain;
    z-index: -1;
  }

  .tri1 {
    right: 35rem;
    top: 0rem;
  }

  .tri2 {
    right: 50rem;
    top: 30rem;
  }
}

.ai_inner_left > :nth-child(1) p {
  font-size: clamp(2rem, 4vw, 3rem);
  color: #ff4040 !important;
  text-transform: uppercase;
}

.ai_inner_left > :nth-child(2) p {
  font-size: clamp(4rem, 6vw, 7.2rem);
  color: black !important;
  line-height: normal !important;
}

.ai_inner_left > :nth-child(3) h1 {
  font-size: clamp(4rem, 6vw, 7.2rem) !important;
  text-transform: capitalize !important;
  font-weight: 900 !important;
  line-height: normal !important;
}

.ai_inner_left > :nth-child(4) > img {
  object-fit: contain;
  width: 25rem;
}

@media screen and (min-width: 990px) {
  .ecommerce_outer_container {
    background-image: url("/newbannerimage/web/Ecommerce.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .hospital_outer_container {
    background-image: url("/newbannerimage/web/Hospitality.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .telecom_outer_container {
    background-image: url("/newbannerimage/web/Telecom.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .healtcare_outer_container {
    background-image: url("/newbannerimage/web/HealthCare.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .banking_outer_container {
    background-image: url("/newbannerimage/web/Banking.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .education_outer_container {
    background-image: url("/newbannerimage/web/Student.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .manufacturing_outer_container {
    background-image: url("/newbannerimage/web/Manufacturing.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .insurance_outer_container {
    background-image: url("/newbannerimage/web/Insurance.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
  }

  .ai_outer_container {
    background-image: url("/newbannerimage/product/ai.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 4rem;
  }

  .analytic_outer_container {
    background-image: url("/newbannerimage/product/Analytics.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 4rem;
  }

  .collab_outer_container {
    background-image: url("/newbannerimage/product/Collaboration.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 4rem;
  }

  .comm_outer_container {
    background-image: url("/newbannerimage/product/communication.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 4rem;
  }
}

/* --------------------------------- Product -------------------------------- */

.visual_outer_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.visual_left > :nth-child(1) p {
  font-size: clamp(3rem, 4vw, 4rem);
  color: #ff4040 !important;
  text-transform: uppercase;
  font-family: Mydriad !important;
}

/* --------------------------------- submenu -------------------------------- */

.submenu_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.submenu_heading > section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: sans-serif;
  gap: 1rem;
}

.submenu_heading > section img {
  width: 2.5rem;
}

.submenu_heading > section > a > span {
  font-weight: bold !important;
}

/* .submenu_heading > i {
  justify-self: flex-end;
} */
.submenu_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.submenu {
  width: 100%;
  font-family: sans-serif;
  display: none;
}

.submenu > li {
  padding: 1rem 2rem;
  transition: 0.2s;
}

.submenu > li:hover {
  background-color: white;
}

#submenu_arrow {
  font-size: 400 !important;
  color: rgb(139, 139, 139);
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

/* ---------------------------------- video --------------------------------- */

.video_outer_container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
  display: flex;
  align-items: center;
}

#homevideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_inner_container {
  position: absolute;
  z-index: 2;
}
.video_left {
  padding: 5rem;
  background-image: url("/newbannerimage/curve.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

@media screen and (max-width: 576px) {
  .video_left {
    background-image: none;
    text-align: center;
    bottom: 0;
    color: white;
  }
}

.video_left > li {
  padding-inline: 5rem;
  max-width: 90%;
}

.video_left > :nth-child(3) {
  text-align: right;
}

.video_left > :nth-child(3) img {
  max-width: 20rem;
}

.video_left > :nth-child(1) h1 {
  font-size: clamp(3rem, 5vw, 7rem);
  text-transform: uppercase;
  color: #ff4040;
  font-weight: 700;
}

.gif_outer_container {
  min-height: 100vh;
  background-color: #153d5e;
  position: relative;
  display: flex;
  align-items: center;
}

.gif_outer_container > img {
  position: absolute;
}
/* .gif_outer_container > :nth-child(1) {
  object-fit: contain;
} */

.gif_outer_container > :nth-child(1) {
  max-width: 25rem;
  bottom: 0;
  left: 0;
}

/* brand swiper */

.swiper_carousel_logo {
  width: 100%;
  height: 100%;
}

.swiper-logo-main {
  background-color: #ff4040;
  padding-block: 2rem;
}
.swiper_brand_container {
  padding-block: 3rem;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper_brand_container img {
  display: block;
  width: 20rem;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------------- about --------------------------------- */

.about_banner {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.about_banner > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

.about_banner > h1 {
  font-size: clamp(4rem, 6vw, 7.2rem);
  font-weight: 900;
  color: #ff4040;
  text-align: center;
  position: relative;
  z-index: 2;
  bottom: 2rem;
  text-transform: uppercase;
}

/* --------------------------------- pricing -------------------------------- */

.pricing_banner_container {
  position: relative;
  min-height: 100vh;
  background-image: url(/images/pricingBanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}

.pricing_banner_container > .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pricing_inner_container .pricing_content > :nth-child(1) h1 {
  font-size: clamp(6rem, 6vw, 9rem);
  color: white;
  text-shadow: 0px 6px #ff4040;
}

.pricing_inner_container .pricing_content > :nth-child(2) p {
  color: white;
  font-size: clamp(1.8rem, 4vw, 2rem);
}

.pricing_inner_container .pricing_content > :nth-child(3) p {
  color: black;
  font-size: clamp(1.8rem, 4vw, 2rem);
}

/* about card */

#card-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-items: center;
  grid-template-areas: "card-one card-two card-three";
}

#card-bottom > :nth-child(1) {
  grid-area: card-one;
}

#card-bottom > :nth-child(2) {
  grid-area: card-two;
}

#card-bottom > :nth-child(3) {
  grid-area: card-three;
}

/* NOTE repsonive */
@media screen and (max-width: 990px) {
  #card-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "card-one card-one" "card-two card-three";
  }

  .about-card-container {
    max-width: 40rem;
  }

  @media screen and (max-width: 576px) {
    #card-bottom {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "card-one" "card-two" "card-three";
    }
  }
}

.about-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 0.5rem;
}

.about-card-container .topic h1 {
  font-size: clamp(2rem, 2vw, 2.5rem);
}

/* story */
#story-left .left-border {
  position: relative;

  text-align: left;
  padding: 1rem;
  flex-direction: column;
}

#story-left .left-border::after {
  width: 0.2rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: black;
  margin-right: 2rem;
}

#story-left ul li {
  margin-top: 1rem;
}

#story-right ul li {
  margin-top: 1rem;
  color: black;
}

#story-right2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mission_card {
  border-bottom: 0.1rem solid black;
  max-width: 50rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

/* NOTE repsonive */
@media screen and (max-width: 990px) {
  .mission_card {
    max-width: 100%;
  }
}

.story_image > img {
  height: 22.4rem;
  object-fit: cover;
  object-position: center top;
}

#main-group-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "one one two two three";
  gap: clamp(0.5rem, 2vw, 2rem);
}

#main-group-grid > :nth-child(1) {
  grid-area: one;
}

#main-group-grid > :nth-child(2) {
  grid-area: two;
}

#main-group-grid > :nth-child(3) {
  grid-area: three;
}

#main-group-grid img {
  height: 100%;
  display: block;
  width: 100%;
  object-position: center center;
  object-fit: cover;
}

/* team */

#team-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 3rem;
  place-items: center;
  padding-block-end: 20rem;
  grid-template-areas: ". team-two ." "team-one team-two team-three" "team-one . team-three" " . team-five ." " team-four team-five team-six" " team-four . team-six" " . team-eight ." " team-seven team-eight team-nine" " team-seven . team-nine";
}

#team-bottom > :nth-child(1) {
  grid-area: team-one;
}

#team-bottom > :nth-child(2) {
  grid-area: team-two;
}

#team-bottom > :nth-child(3) {
  grid-area: team-three;
}

#team-bottom > :nth-child(4) {
  grid-area: team-four;
}

#team-bottom > :nth-child(5) {
  grid-area: team-five;
}

#team-bottom > :nth-child(6) {
  grid-area: team-six;
}

#team-bottom > :nth-child(7) {
  grid-area: team-seven;
}

#team-bottom > :nth-child(8) {
  grid-area: team-eight;
}

#team-bottom > :nth-child(9) {
  grid-area: team-nine;
}

#team-bottom .team_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.team_card img {
  border-radius: 2rem;
}

.team_card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  height: 43.2rem;
}

.team-topic > h1 {
  font-size: clamp(1.7rem, 2vw, 2.2rem);
}

.team-para > p {
  font-size: 1.4rem;
}

.team_inner_card {
  color: white;
  padding: clamp(0.5rem, 2vw, 2rem);
  position: absolute;
  max-width: 24rem;
  bottom: -10rem;
  border-radius: 2rem;
  text-align: center;
  min-height: 21.2rem;
}

.team_inner_card > img {
  max-width: 24rem;
}

#team-bottom > :nth-child(1) .team_inner_card {
  background-color: #ff4040;
}

#team-bottom > :nth-child(2) .team_inner_card {
  background-color: #d4a373;
}

#team-bottom > :nth-child(3) .team_inner_card {
  background-color: #14213d;
}

#team-bottom > :nth-child(4) .team_inner_card {
  background-color: #ffb703;
}

#team-bottom > :nth-child(5) .team_inner_card {
  background-color: #3a0ca3;
}

#team-bottom > :nth-child(6) .team_inner_card {
  background-color: #e07a5f;
}

#team-bottom > :nth-child(7) .team_inner_card {
  background-color: #a1a1a1;
}

#team-bottom > :nth-child(8) .team_inner_card {
  background-color: #00a896;
}

#team-bottom > :nth-child(9) .team_inner_card {
  background-color: #ff0054;
}

/* NOTE repsonive */
@media screen and (max-width: 990px) {
  #team-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 1rem;
    grid-row-gap: 14rem;
    grid-template-areas: "team-one team-two" "team-three team-four" "team-five team-six" "team-seven team-eight" "team-nine team-nine";
  }
}

/* NOTE repsonive */
@media screen and (max-width: 576px) {
  #team-bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, auto);
    grid-gap: 1rem;
    grid-row-gap: 15rem;
    grid-template-areas: "team-one" " team-two" "team-three" " team-four" "team-five" " team-six" "team-seven" " team-eight" "team-nine";
  }

  .team_card h1 {
    font-size: 1.8rem;
  }
}

.team-heading {
  font-size: 2rem;
}

.banner-heading > h1 {
  font-size: clamp(3rem, 5vw, 4rem);
  text-transform: uppercase;
  color: #ff4040;
  font-weight: 900;
}

.footer_swiper_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

.footerSwiper {
  width: 100%;
  height: 100%;
}

.footerSlide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.footerSlider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newfooter_outer {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #427bcf;

  background-image: url("/images/cut.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 75vh;
  background-position: center bottom;
}

.newfooter {
  position: relative;
  z-index: 2;
}

.newfooter_right > :nth-child(1) > img {
  max-width: 8rem;
}

.newfooter_right > li {
  margin-top: 1rem;
}
.newfooter_right > li p {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  font-weight: 500;
  color: white;
  margin: 0;
}

.ad_bottom_outer {
  background-color: #245194;
  position: relative;
}

.ad_bottom_outer > img {
  position: absolute;
  max-width: 25rem;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.ad_content {
  text-align: center;
}
.ad_content > li p {
  font-size: clamp(3rem, 4vw, 4rem);
  color: white;
}

.ad_content > :nth-child(2) button {
  background: none;
  border: none;
  outline: none;
  color: white;
  font-weight: 500;
  font-size: clamp(1.6rem, 4vw, 2rem);
  background: #ff4040;
  padding: 1rem 2rem;
  border: 0.2rem solid #ff4040;
  border-radius: 0.4rem;
  transition: 0.4s;
}

.ad_content > :nth-child(2) button:hover {
  background-color: white;
  color: #ff4040;
}

.ad_inner {
  position: relative;
  z-index: 2;
}

.swiper_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content !important;
  gap: 3rem;
}

.mySwiper_logo {
  height: 60vh;
}

/* @media screen and (max-width: 990px) {
  .mySwiper_logo {
    display: flex;
  }

  @media screen and (max-width: 475px) {
    .swiper_logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: max-content !important;
      gap: 3rem;
    }
  }
} */
.swiper_logo > img {
  max-width: 20rem !important;
}

.swiper_logo_wrapper {
  width: auto !important;
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
