<section class="navbar_container container">
  <section class="row">
    <section class="navbar_logo col col-lg-3 py-3">
      <a href="/index.html">
        <img src="/logo/Logo Black and Red-cropped.svg" alt="" />
      </a>
    </section>

    <ul
      class="navbar_menu col d-none d-lg-flex align-items-center justify-content-around"
    >
      <li class="menu">
        <a href="#"> Product </a>
        <section class="nav_dropdown_container container">
          <section class="row">
            <ul class="nav_dropdown_left col">
              <li>
                <a>Products</a>
              </li>
              <li>
                <img src="/svg/visual.svg" alt="" /><a
                  href="/pages/product/visualengagement/visualengagment.html"
                  ><span>Visual Engagement Platform</span> <br />
                  Learn about your users</a
                >
              </li>
              <li>
                <img src="/svg/communcation.svg" alt="" /><a
                  href="/pages/product/communication/communcation.html"
                  ><span>Communcation</span>

                  <br />
                  Measure B2B account</a
                >
              </li>
              <li>
                <img src="/svg/collab.svg" alt="" /><a
                  href="/pages/product/collabration/collabration.html"
                  ><span>Collabration</span> <br />
                  Monitor you metrices</a
                >
              </li>
              <li>
                <img src="/svg/analytic.svg" alt="" />
                <a href="/pages/product/analytic/analytic.html"
                  ><span>Analytics </span><br />
                  Segments with perfect target</a
                >
              </li>
              <li>
                <img src="/svg/ai.svg" alt="" /><a
                  href="/pages/product/artifical-intelligence/aritfical-intelligence.html"
                  ><span>Artificial Intelligence</span> <br />Connect to your
                  warehouse</a
                >
              </li>
            </ul>
          </section>
        </section>
      </li>
      <li class="menu">
        <a href="#">Solutions </a>
        <section class="nav_dropdown_container container">
          <section class="row">
            <ul class="nav_dropdown_left col">
              <li>
                <a>Solutions</a>
              </li>
              <li>
                <img src="/svg/Industrial/health.svg" alt="" /><a
                  href="/pages/solutions/health/healthcare.html"
                  ><span>Healthcare</span> <br />
                  Maximize all customers
                </a>
              </li>
              <li>
                <img src="/svg/Industrial/ecom.svg" alt="" /><a
                  href="/pages/solutions/ecommerce/ecommerce.html"
                >
                  <span> E-commerce</span> <br />
                  Video sales & support
                </a>
              </li>
              <li>
                <img src="/svg/Industrial/education.svg" alt="" /><a
                  href="/pages/solutions/education/education.html"
                >
                  <span> Education </span><br />
                  Maximize all customers
                </a>
              </li>
              <li>
                <img src="/svg/Industrial/manu.svg" alt="" />
                <a href="/pages/solutions/manufacturing/manufacturing.html">
                  <span> Manufacturing </span><br />
                  VRM, Engagement, Service
                </a>
              </li>
            </ul>

            <ul class="nav_dropdown_left col">
              <li class="opacity-0">
                <a>Products</a>
              </li>
              <li>
                <img src="/svg/Industrial/insurance.svg" alt="" /><a
                  href="/pages/solutions/insurance/insurance.html"
                  ><span>Insurance</span> <br />
                  Measure active usage</a
                >
              </li>
              <li>
                <img src="/svg/Industrial/telecom.svg" alt="" /><a
                  href="/pages/solutions/telecom/telecom.html"
                  ><span>Telecom</span> <br />
                  Find retentation drivers</a
                >
              </li>
              <li>
                <img src="/svg/Industrial/banking.svg" alt="" /><a
                  href="/pages/solutions/banking-or-finance/banking-or-finance.html"
                  ><span>Banking or Finance</span> <br />
                  Analyze conversation
                </a>
              </li>
              <li>
                <img src="/svg/Industrial/hospital.svg" alt="" />
                <a href="/pages/solutions/hospitality/hospitality.html"
                  ><span>Hospitality</span> <br />
                  Find retentation drivers
                </a>
              </li>
            </ul>
          </section>
        </section>
      </li>
      <li class="menu">
        <a href="#">Company</a>

        <section class="nav_dropdown_container container">
          <section class="row">
            <ul class="nav_dropdown_left col">
              <li>
                <a>Company</a>
              </li>
              <li>
                <img src="/svg/company/about.svg" alt="" /><a
                  href="/pages/company/about/about.html"
                >
                  <span> About Us</span> <br />
                  Our customers have to say</a
                >
              </li>
              <li>
                <img src="/svg/company/carrer.svg" alt="" /><a
                  href="/pages/company/carrers/carrers.html"
                  ><span>Careers</span> <br />
                  Were always hiring!
                </a>
              </li>
              <li>
                <img src="/svg/company/contact.svg" alt="" /><a
                  href="../../pages/company/contact-us/contact-us.html"
                  ><span>Contact Us</span> <br />
                  Get in touch with our sales
                </a>
              </li>
              <li>
                <img src="/svg/company/manage.svg" alt="" />
                <a href="#"
                  ><span>Management </span><br />
                  Become a our partners
                </a>
              </li>
              <li>
                <img src="/svg/company/news.svg" alt="" /><a
                  href="/pages/company/news/news.html"
                  ><span>News </span><br />
                  News and updates</a
                >
              </li>
            </ul>
          </section>
        </section>
      </li>
      <li class="menu">
        <a href="#"> Resources </a>

        <section class="nav_dropdown_container container">
          <section class="row">
            <ul class="nav_dropdown_left col">
              <li>
                <a>Resources</a>
              </li>
              <li>
                <img src="/svg/Resources/white.svg" alt="" /><a
                  href="/pages/resources/whitepaper/whitepaper.html"
                >
                  <span> Whitepaper </span><br />

                  Learn how to integrate
                </a>
              </li>
              <li>
                <img src="/svg/Resources/video.svg" alt="" /><a
                  href="/pages/resources/videos/videos.html"
                >
                  <span> Videos </span><br />
                  All about how to use
                </a>
              </li>
              <li>
                <img src="/svg/Resources/event.svg" alt="" /><a
                  href="/pages/resources/events/events.html"
                >
                  <span> Events</span> <br />
                  Newest feature releases
                </a>
              </li>
              <li>
                <img src="/svg/Resources/part.svg" alt="" />
                <a href="/pages/resources/parnters/partners.html">
                  <span> Partners</span>
                  <br />
                  Questions and tips from other
                </a>
              </li>
            </ul>

            <ul class="nav_dropdown_left col">
              <li class="opacity-0">
                <a>Products</a>
              </li>
              <li>
                <img src="/svg/Resources/client.svg" alt="" /><a href="#"
                  ><span>Clients</span> <br />

                  Everything you need to know</a
                >
              </li>
              <li>
                <img src="/svg/Resources/case.svg" alt="" /><a
                  href="/pages/resources/case-studies/case-studies.html"
                  >Case Studies <br />

                  How our products help you</a
                >
              </li>
              <li>
                <img src="/svg/Resources/blog.svg" alt="" /><a
                  href="/pages/resources/blogs/blogs.html"
                >
                  <span>Blog</span>
                  <br />
                  Building products and system
                </a>
              </li>
              <li>
                <img src="/svg/Industrial/hospital.svg" alt="" />
                <a href="/pages/solutions/hospitality/hospitality.html"
                  ><span>Hospitality</span> <br />
                  Find retentation drivers
                </a>
              </li>
            </ul>
          </section>
        </section>
      </li>

      <li class="menu">
        <a href="/pages/pricing/pricing.html">Pricing </a>
      </li>
    </ul>

    <section
      class="col col-lg-3 d-lg-flex align-items-center justify-content-center gap-5"
    >
      <section class="navbar_signup d-none d-lg-block">
        <button>Login</button>
        <button>Sign Up</button>
      </section>

      <section
        class="nav_hamburger h-100 d-lg-none d-flex align-items-center justify-content-end"
      >
        <input type="checkbox" name="ham" id="ham" />
        <label for="ham" class="nav_ham">
          <i class="fa-solid fa-bars"></i>
        </label>
        <label for="ham" class="nav_cross">
          <i class="fa-solid fa-xmark"></i>
        </label>

        <section
          class="mobile_navbar_container py-5 container-fluid"
          id="mobile"
        >
          <section class="container">
            <section class="row flex-column">
              <section class="col navbar_accordion">
                <div
                  class="accordion accordion-flush"
                  id="accordionFlushExample"
                >
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne"
                      >
                        Products
                      </button>
                    </h2>
                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingOne"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul class="nav_dropdown_left col">
                          <li class="d-none">
                            <a>Products</a>
                          </li>
                          <li>
                            <img src="/svg/visual.svg" alt="" /><a
                              href="/pages/product/visualengagement/visualengagment.html"
                              ><span>Visual Engagement Platform </span><br />
                              Learn about your users</a
                            >
                          </li>
                          <li>
                            <img src="/svg/communcation.svg" alt="" /><a
                              href="/pages/product/communication/communcation.html"
                              ><span>Communcation</span>

                              <br />
                              Measure B2B account</a
                            >
                          </li>
                          <li>
                            <img src="/svg/collab.svg" alt="" /><a
                              href="/pages/product/collabration/collabration.html"
                              ><span>Collabration </span><br />
                              Monitor you metrices</a
                            >
                          </li>
                          <li>
                            <img src="/svg/analytic.svg" alt="" />
                            <a href="/pages/product/analytic/analytic.html"
                              ><span>Analytics </span><br />
                              Segments with perfect target</a
                            >
                          </li>
                          <li class="submenu_container">
                            <section class="submenu_heading">
                              <section>
                                <img src="/svg/ai.svg" alt="" /><a href="#"
                                  ><span>Artificial Intelligence</span>
                                  <br />Connect to your warehouse</a
                                >
                              </section>

                              <i
                                class="fa-solid fa-angle-down"
                                id="submenu_arrow"
                              ></i>
                            </section>

                            <ul class="submenu">
                              <li><a>Customer Analytics</a></li>
                              <li><a>Speech Analytics</a></li>
                              <li><a>Video Analytics</a></li>
                              <li><a>Automation</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo"
                      >
                        Solutions
                      </button>
                    </h2>
                    <div
                      id="flush-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul class="nav_dropdown_left col">
                          <li class="d-none">
                            <a>Solutions</a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/health.svg" alt="" /><a
                              href="/pages/solutions/health/healthcare.html"
                              ><span>Healthcare </span><br />
                              Maximize all customers
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/ecom.svg" alt="" /><a
                              href="/pages/solutions/ecommerce/ecommerce.html"
                            >
                              <span> E-commerce </span><br />
                              Video sales & support
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/education.svg" alt="" /><a
                              href="/pages/solutions/education/education.html"
                            >
                              <span>Education</span> <br />
                              Maximize all customers
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/manu.svg" alt="" />
                            <a
                              href="/pages/solutions/manufacturing/manufacturing.html"
                            >
                              <span> Manufacturing</span> <br />
                              VRM, Engagement, Service
                            </a>
                          </li>
                        </ul>

                        <ul class="nav_dropdown_left col">
                          <li class="d-none">
                            <a>Products</a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/insurance.svg" alt="" /><a
                              href="/pages/solutions/insurance/insurance.html"
                              ><span>Insurance</span> <br />
                              Measure active usage</a
                            >
                          </li>
                          <li>
                            <img src="/svg/Industrial/telecom.svg" alt="" /><a
                              href="/pages/solutions/telecom/telecom.html"
                              ><span>Telecom</span> <br />
                              Find retentation drivers</a
                            >
                          </li>
                          <li>
                            <img src="/svg/Industrial/banking.svg" alt="" /><a
                              href="/pages/solutions/banking-or-finance/banking-or-finance.html"
                              ><span>Banking or Finance </span><br />
                              Analyze conversation
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/hospital.svg" alt="" />
                            <a href="#"
                              ><span>Hospitality</span> <br />
                              Find retentation drivers
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo"
                      >
                        Company
                      </button>
                    </h2>
                    <div
                      id="flush-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul class="nav_dropdown_left col">
                          <li class="d-none">
                            <a>Company</a>
                          </li>
                          <li>
                            <img src="/svg/company/about.svg" alt="" /><a
                              href="/pages/company/about/about.html"
                            >
                              <span> About Us</span> <br />
                              Our customers have to say</a
                            >
                          </li>
                          <li>
                            <img src="/svg/company/carrer.svg" alt="" /><a
                              href="/pages/company/carrers/carrers.html"
                              ><span>Careers</span> <br />
                              Were always hiring!
                            </a>
                          </li>
                          <li>
                            <img src="/svg/company/contact.svg" alt="" /><a
                              href="./../../pages/company/contact-us/contact-us.html"
                              ><span>Contact Us</span> <br />
                              Get in touch with our sales
                            </a>
                          </li>
                          <li>
                            <img src="/svg/company/manage.svg" alt="" />
                            <a href="#"
                              ><span>Management</span> <br />
                              Become a our partners
                            </a>
                          </li>
                          <li>
                            <img src="/svg/company/news.svg" alt="" /><a
                              href="/pages/company/news/news.html"
                              ><span>News</span> <br />
                              News and updates</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo"
                      >
                        Resources
                      </button>
                    </h2>
                    <div
                      id="flush-collapseFour"
                      class="accordion-collapse collapse"
                      aria-labelledby="flush-headingTwo"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul class="nav_dropdown_left col">
                          <li class="d-none">
                            <a>Resources</a>
                          </li>
                          <li>
                            <img src="/svg/Resources/white.svg" alt="" /><a
                              href="/pages/resources/whitepaper/whitepaper.html"
                            >
                              <span>Whitepaper</span> <br />

                              Learn how to integrate
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Resources/video.svg" alt="" /><a
                              href="/pages/resources/videos/videos.html"
                            >
                              <span>Videos</span> <br />
                              All about how to use
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Resources/event.svg" alt="" /><a
                              href="/pages/resources/events/events.html"
                            >
                              <span>Events</span> <br />
                              Newest feature releases
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Resources/part.svg" alt="" />
                            <a href="/pages/resources/parnters/partners.html">
                              <span>Partners</span>
                              <br />
                              Questions and tips from other
                            </a>
                          </li>
                        </ul>

                        <ul class="nav_dropdown_left col">
                          <li class="d-none">
                            <a>Products</a>
                          </li>
                          <li>
                            <img src="/svg/Resources/client.svg" alt="" /><a
                              href="#"
                              ><span>Clients</span> <br />

                              Everything you need to know</a
                            >
                          </li>
                          <li>
                            <img src="/svg/Resources/case.svg" alt="" /><a
                              href="/pages/resources/case-studies/case-studies.html"
                              ><span>Case Studies </span><br />

                              How our products help you</a
                            >
                          </li>
                          <li>
                            <img src="/svg/Resources/blog.svg" alt="" /><a
                              href="/pages/resources/blogs/blogs.html"
                            >
                              <span> Blog</span>
                              <br />
                              Building products and system
                            </a>
                          </li>
                          <li>
                            <img src="/svg/Industrial/hospital.svg" alt="" />
                            <a href="#"
                              ><span>Hospitality</span> <br />
                              Find retentation drivers
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <a href="/pages/pricing/pricing.html">
                        <button class="accordion-button" type="button">
                          Pricing
                        </button>
                      </a>
                    </h2>
                  </div>
                </div>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>

<script>
  $(window).scroll(function () {
    if ($(this).scrollTop() > 30) {
      $(".navbar-comp").addClass("sticky");
    } else {
      $(".navbar-comp").removeClass("sticky");
    }
  });

  $(document).ready(function () {
    $(".submenu_heading").click(function () {
      $("#submenu_arrow").toggleClass("rotate");
      $(".submenu").slideToggle();
    });
  });
</script>
